## Pandas
There are 3 data types in Pandas :
1. Series
2. DataFrame
3. Panel

In [1]:
import pandas as pd
import numpy as np

### 1. Series

In [2]:
a = pd.Series([1,3,5,7,9,10])
# print list with index
print(a)

0     1
1     3
2     5
3     7
4     9
5    10
dtype: int64

In [3]:
data = np.array(['a','b','c','d'])
# create a series with numpy
b = pd.Series(data)
print(b)

0    a
1    b
2    c
3    d
dtype: object

In [4]:
c = pd.Series(np.arange(10,30,5))
print(c)

0    10
1    15
2    20
3    25
dtype: int64

In [7]:
# assign index to values
a = pd.Series(['a','b','c'], index = [10,20,30])
print(a)

# create a series with dictionary
dict = {'a':10, 'b':20,'c':30}
d = pd.Series(dict)
print(d)

10    a
20    b
30    c
dtype: object
a    10
b    20
c    30
dtype: int64

### DataFrame

In [10]:
# dataframe using list
a = pd.DataFrame([1,2,3,4,5])
print(a)
# dataframe using dictionary
dict = { 'Name' : [ 'Cho', 'Kim', 'Lee' ], 'Age' : [ 28, 31, 38] }
b = pd.DataFrame(dict)
print(b)
c = pd.DataFrame([['apple', 7000], ['banana', 5000], ['orange', 4000]])
print(c)

   0
0  1
1  2
2  3
3  4
4  5
  Name  Age
0  Cho   28
1  Kim   31
2  Lee   38
        0     1
0   apple  7000
1  banana  5000
2  orange  4000